.vscode/
.splat/
__pycache__/
/asm/
assets/
build/
expected/
nonmatchings/

*.bin
*.ld
*.d
*.o
*.out
*.z64
*.splache
*.ninja
.ninja*

*undefined_funcs_auto.txt
*undefined_syms_auto.txt
*symbol_addrs.txt

ctx_includes.c
ctx.c
ctx.c.m2c
permuter_settings.toml

venv/
.venv/
